.Navigation {
    border-bottom: solid 1px black;
    background-color: white;
}

.NavigationBar {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.Search {
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.SearchInput {
    font-size: 14px;
    padding: 2px 0px;
    padding-left: 25px;
    background-color: #f5f5f5;
    border: solid 1px #f5f5f5;
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 45%;
    height: 85%;
}

.SearchInput:focus+.Searchbtn {
    color: white;
    border-color: black;
    background-color: black;
}

.Searchbtn {
    padding: 0px 15px;
    background-color: #f5f5f5;
    border: solid 1px #f5f5f5;
    border-left: none;
    height: 85%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.SearchInput:focus,
.mo-search-button {
    outline: none;
}

.mobile-search {
    display: flex;
    justify-content: center;
    margin: 5px 10px;
    padding: 5px 10px;
}

.mo-search-button {
    padding: 3px;
    margin-right: 10px;
    background-color: #f5f5f5;
    border-left: none;
    border: solid 1px #f5f5f5;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 15px;
}

.mo-search-input {
    font-size: 15px;
    padding: 2px 8px;
    border-right: none;
    border: solid 1px #ea9d66;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.Nav-Menu-Item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    margin: 2px 5px;
    text-decoration: none;
    color: black;
}


.dropdown-toggle::after {
    content: none;
}

.MobileNavItems {
    display: flex;
    justify-content: center;
    align-items: center;
}

.MobileIcons {
    border: none;
    background-color: white;
}

.mo-cart {
    color: black;
}

.Computer-dd {
    width: 200px;
}

.Mobile-dd {
    width: 100px;
}

.dropdown-item {
    display: flex;
    text-decoration: none;
    color: black;
    padding: 3px 0px;
    border-bottom: solid 1px #eee;
}

.dropdown-item:hover {
    background-color: #f5f5f5;
    font-weight: bolder;
    color: black;
}

.Mo-Icons {
    color: black;
}

.mo-icon-txt {
    font-size: 13px;
    padding: 0px 7px;
}

.mo-user-icon {
    font-size: 15px;
    padding: 0px 5px;
}

.co-icon-txt {
    font-size: 17px;
    padding: 0px 10px;
}

.co-user-icon {
    width: 35px;
    font-size: 18px;
    padding: 0px 8px;
}


/*Computer*/
@media screen and (min-width: 1100px) {
    .Navigation {
        position: sticky;
        top: 0px;
        z-index: 1;
    }

    .NavigationBar {
        padding: 5px 30px;
    }

    .MobileView {
        display: none;
    }

    .ComputerView {
        padding: 0px 50px
    }

    .ant-scroll-number {
        transform: translate(90%, -50%) !important;
    }

    .Brand-Img {
        width: 150px;
        height: 30px;
    }

    .ComIcons {
        font-size: 20px;
        color: black;
    }

    .dropdown-menu {
        background-color: #f5f5f5;
        transform: translate3d(-200px, 25px, 0px) !important;
    }
}

/*Tables*/
@media screen and (min-width: 600px) and (max-width: 1100px) {
    .ComputerView {
        display: none;
    }

    .NavigationBar {
        padding: 9px 35px;
    }

    .MobileIcons {
        padding: 0px 10px;
        font-size: 20px;
    }

    .mo-cart {
        font-size: 20px;
    }

    /*Total number in Cart*/
    .ant-scroll-number {
        transform: translate(90%, -50%) !important;
    }

    .Brand {
        margin: 0px 20px;
    }

    .Brand-Img {
        height: 30px;
        width: 120px;
    }

    /*to move dropdown Left side*/
    .dropdown-menu {
        transform: translate3d(-130px, 25px, 0px) !important;
    }

    .co-icon-txt {
        font-size: 14px;
    }
}

/*Mobile*/
@media screen and (max-width: 600px) {
    .ComputerView {
        display: none;
    }

    .NavigationBar {
        padding: 5px 20px;
    }

    .MobileIcons {
        padding: 0px 6px;
        font-size: 17px;
    }

    .mo-cart {
        font-size: 17px;
    }

    .Brand {
        margin: 0px 20px;
    }

    .Brand-Img {
        height: 25px;
        width: 100px;
    }

    /*to move dropdown Left side*/
    .dropdown-menu {
        transform: translate3d(-130px, 25px, 0px) !important;
    }

    /*Total number in Cart*/
    .ant-scroll-number {
        transform: translate(90%, -50%) !important;
        min-width: 15px !important;
        height: 15px !important;
        display: flex;
        justify-content: center;
        padding-bottom: 17px;
    }

    .co-icon-txt {
        font-size: 13px;
    }

}