.User-Menu {
    list-style: none;
}

.active {
    background-color: black;
    color: white;
}

.active .List-Text {
    color: white;
    font-weight: 600;
}

.active .List-Icon {
    color: white;
    font-weight: 600;
}

.List-Link {
    display: flex;
    text-decoration: none;
    padding: 5px;
}

.List-Link:hover {
    font-weight: 600;
}

.List-Text,
.List-Icon {
    color: black;
}



/*Computer*/
@media screen and (min-width: 1100px) {
    .User-Menu {
        padding-left: 20px;
        padding-top: 10px;
    }

    .User-Menu-Item {
        margin: 20px 0px;
    }

    .List-Icon {
        min-width: 30px;
        font-size: 16px;
        padding: 0px 5px;
    }

    .List-Text {
        font-size: 15px;
        padding: 0px 5px;
    }
}

/*Tables*/
@media screen and (min-width: 600px) and (max-width: 1100px) {
    .User-Menu {
        padding-left: 15px;
        padding-top: 8px;
    }

    .User-Menu-Item {
        margin: 20px 3px;
    }

    .List-Icon {
        min-width: 18px;
        font-size: 14px;
        padding: 0px 2px;
    }

    .List-Text {
        font-size: 13px;
        padding: 0px 8px;
    }
}

/*Mobile*/
@media screen and (max-width: 600px) {
    .User-Menu {
        padding-left: 10px;
        padding-top: 6px;
    }

    .User-Menu-Item {
        margin: 20px 3px;
    }

    .List-Icon {
        min-width: 25px;
        font-size: 12px;
        padding: 0px 5px;
    }

    .List-Text {
        font-size: 12px;
        padding: 0px 5px;
    }
}